<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
  {{!-- custom css--}}
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <header class="home_header">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="images/header_image_1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="images/header_image_2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="images/header_image_3.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <nav class="home_nav_bar d-flex">
      <button class="btn"><i class="fa-sharp fa-solid fa-house"></i></button>
      <button class="btn">বিএমইটি</button>
      <button class="btn">সেবাসমুহ</button>
      <button class="btn">প্রশিক্ষণ</button>
      <button class="btn">বৈদেদেশিশিক শ্রমবাজার</button>
      <button class="btn">পরিসংখ্যান</button>
    </nav>
  </header>

  {{!--website body --}}
  <main>

    {{!-- middle section --}}
    <section class="middle_section">

      {{!-- notice board --}}
      <div class="notice_board">
        <h4>নোটিশ বোর্ড</h2>
          <h6><i class="fa-solid fa-caret-right"></i> <a href="#">কুটনৈতিক বিশেষ এবং অফিসিয়াল পাসপোর্টধারীদের জন্য ভিসা
              প্রযোজ্যতা বিলোপ সংক্রান্ত ।</a>
        </h4>
        <h6><i class="fa-solid fa-caret-right"></i> <a href="#">প্রশিক্ষণের গুণগত মান উন্নয়ণে নির্দেশনা প্রদান প্রসঙ্গে
            ।</a></h4>
          <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বিএমইটি’র মার্চ/২০২৩ মাসের মাসিক সমন্বয় সভার নোটিশ</a>
            </h4>
            <h6><i class="fa-solid fa-caret-right"></i> <a href="#">নতুন রিক্রুটিং লাইসেন্সের নামের অনুমোদন প্রসঙ্গে
                ।</a></h4>
          <div class="button d-flex justify-content-end">
             <a class="btn btn-success">সকল</a>
          </div>
      </div>

       <div class="news_scrolling">
             <p>খবর:<a href="#" id="news">ঢাকা জেলার বিদেশ গমনেচ্ছুু কর্মীদের নিবন্ধনের জন্য বিজ্ঞপ্তি (২০১৯-০৭-২৬)</a></p>
             <a class="btn btn-success">সকল</a>
       </div>     



      {{!-- services --}}
      <div class="services">

        <div class="service">
          আমাদের বিষয়ে
          <div class="description">
            <div class="img">
              <img src="images/img_box1.jpg" alt="img">
            </div>
            <div class="service_des">
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইতিহাস ও কার্যাবলী</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বিএমইটির সাংগঠনিক-কাঠামো</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">অফিসারবৃন্দ</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ফটোগ্যালারী</a></h6>
            </div>
          </div>
        </div>

        <div class="service">
          আদেশ/বিজ্ঞপ্তি/প্রজ্ঞাপন
          <div class="description">
            <div class="img">
              <img src="images/img_box2.jpg" alt="">
            </div>
            <div class="service_des">
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">অফিস আদেশ/এনওসি</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">সরকারি আদেশ (GO)</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বদলী-যোগদান-বিজ্ঞপ্তি-দরপত্র</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">নীতিমালা</a></h6>

            </div>
          </div>
        </div>


        <div class="service">
          কর্মসম্পাদন ব্যবস্থাপনা
          <div class="description">
            <div class="img">
              <img src="images/img_box3.jpg" alt="">
            </div>
            <div class="service_des">
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বার্ষিক কর্মসম্পাদন চুক্তি</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বার্ষিক কর্মসম্পাদন চুক্তির কাঠামো</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">মাসিক/ত্রৈমাসিক /ষান্মাসিক অগ্রগতি প্রতিবেদন</a></h6>
              <h6><i class="fa-solid fa-caret-right"></i> <a href="#">কর্মসম্পাদন ব্যবস্থাপনা ফোকাল পয়েন্ট</a></h6>

            </div>
          </div>

        </div>

        <div class="service">
          জাতীয় শুদ্ধাচার কৌশল
          <div class="description">
            <div class="img">
              <img src="images/img_box4.jpg" alt="">
            </div>
            <div class="service_des">
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">অভিবাসন সংক্রান্ত অভিযোগ</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">GRS রিপোর্ট</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">আপীল কর্মকর্তা ও অভিযোগ নিস্পত্তি কর্মকর্তা</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">দাপ্তরিক অভিযোগ</a></h6>
            </div>
          </div>

        </div>

        <div class="service">
          অভিযোগ ব্যবস্থাপনা ও নিস্পত্তি
          <div class="description">
            <div class="img">
              <img src="images/img_box5.jpg" alt="">
            </div>
            <div class="service_des">
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইনোভেশন কর্মপরিকল্পনা:</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইনোভেশন কর্মপরিকল্পনা:</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইনোভেশন কর্মপরিকল্পনা:</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইনোভেশন কর্মপরিকল্পনা:</a></h6>

            </div>
          </div>

        </div>
        <div class="service">
          ইনোভেশন কার্যক্রম
          <div class="description">
            <div class="img">
              <img src="images/img_box6.jpg" alt="">
            </div>
            <div class="service_des">
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বিএমইটি’তে বাস্তবায়িত (SIP)সমূহ</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">উদ্ভাবনী কর্ম পরিকল্পনা ২০২০-২০২১</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">বিএমইটি’তে বাস্তবায়িত (SIP)সমূহ</a></h6>
                <h6><i class="fa-solid fa-caret-right"></i> <a href="#">ইনোভেশন রোডম্যাপ ২০১৭-২০২১</a></h6>

            </div>
          </div>
        </div>

      </div>

    </section>

    {{!-- side section --}}
    <section class="side_section">

      <div class="precedent">
        <h3 class="name">মাননীয় মন্ত্রী</h3>
        <img src="images/precedent.jpg" alt="" width="100%" height="80%">
        <p class="person_description">জনাব ইমরান আহমদ, এমপি</p>
      </div>

      <div class="shochib">
        <h3 class="name">সিনিয়র সচিব</h3>
        <img src="images/person_img2.jpg" alt="" width="100%" height="80%">
        <p class="person_description">ড. আহমেদ মুনিরুছ সালেহীন</p>
      </div>

    </section>
  </main>


</body>
{{>footer_links}}
<script src="js/home.js"></script>
</html>